<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bait.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FE26B151D3FBD32009CE7F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE26B2D1D3FBD33009CE7F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE26B381D3FBD33009CE7F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
